@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration;

@{
    ViewData["Title"] = "Home Page";
    var greeting = _configuration.GetValue<string>("Greeting");
}

<div class="text-center">
    <h1 class="display-4">@greeting</h1>
    <p>Deployed by Octopus Deploy, again</p>
</div>
